<!DOCTYPE html>
<div xmlns="http://www.w3.org/1999/html">
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
.card{
 border-radius: 10px;
}
h1{
text-align: center;
}
.btn btn-succes{
    padding: 30px;
}
.row{
    padding: 30px;
}
.card-body{
    padding: 30px;
}
.wizz,li{
    text-align: center;
}
</style>


</head>

</div>
	<div class="jumbotron">
		<h1>NEWS TODAY</h1>

			{% csrf_token %}
            <a class="btn btn-primary" href="{% url ' my-home' %}" role="button">morning news</a>
            <a class="btn btn-primary" href="{% url 'my-Breakingnews' %}" role="button">Breaking news</a>
            <a class="btn btn-primary" href="{% url 'my-Weeklyhighlights' %}" role="button">Weekly highlights</a>
            <a class="btn btn-primary" href="{%url 'my-Sports'  %}" role="button">Sports</a>
            <a class="btn btn-primary" href="{% url 'my-Newsmarket' %}" role="button">News market</a>
            <a class="btn btn-primary" href="{% url 'my-Politics' %}" role="button">Politics</a>
            <a class="btn btn-primary" href="{% url 'my-Internationalrelations' %}" role="button">International relations</a>
		</form>
	</div>

</body>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/14842/production/_128943048_10272fe5f6a181444e4a281507f46eb928f9ca8f0_0_4374_29161000x667.jpg.webp" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Mexico cartel turns in own men over US kidnappings</h5>
      <p class="card-text">On their front pages, many of Mexico's newspapers published a photograph that appears to show five men lying face down on the ground, their hands tied, and their T-shirts pulled up above their heads. It was apparently taken as police arrived on the scene.

</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
        <a href="https://www.bbc.com/news/world-us-canada-64910394" class="btn btn-primary">Read more</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://ichef.bbci.co.uk/live-experience/cps/624/cpsprodpb/vivo/live/images/2023/3/9/63369600-94c0-4a10-b9a6-453063c7c304.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Call for blood donations after Lagos collision</h5>
      <p class="card-text">The governor of Nigeria's Lagos state, Babajide Sanwo-Olu, has called for people to come forward and donate blood as medics treat those wounded in a collision between a train and bus earlier on Thursday</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    <a href="https://www.bbc.com/news/live/world-africa-64393330?ns_mchannel=social&ns_source=twitter&ns_campaign=bbc_live&ns_linkname=640a0b0eb0a62a7df8d99abc%26Call%20for%20blood%20donations%20after%20Lagos%20collision%262023-03-09T16%3A41%3A32.884Z&ns_fee=0&pinned_post_locator=urn:asset:b87edc9f-04c4-4042-a9f0-3885713afafb&pinned_post_asset_id=640a0b0eb0a62a7df8d99abc&pinned_post_type=share" class="btn btn-primary">Read more</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://ichef.bbci.co.uk/live-experience/cps/624/cpsprodpb/vivo/live/images/2023/3/10/e21e1c7a-d040-4aed-b2e4-9898ec81212c.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nigeria probes Lufthansa for alleged mistreatment</h5>
      <p class="card-text">The Nigerian Civil Aviation Authority has begun investigation into the alleged maltreatment of over 200 Nigeria-bound passengers by German airline, Lufthansa Airlines  </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    <a href="https://www.bbc.com/news/live/world-africa-64393330" class="btn btn-primary">Read more</a>
    </div>
  </div>

</div>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://media.cnn.com/api/v1/images/stellar/prod/230213105337-01-israel-protest-021323.jpg?c=original" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Israeli mass protests against reforms block roads and airport</h5>
      <p class="card-text">Protesters in Israel have blocked roads and attempted to stop the prime minister flying out the country amid nationwide demonstrations against controversial judicial reforms </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    <a href="https://www.bbc.com/news/world-middle-east-64866881" class="btn btn-primary">Read more</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/9233/production/_128872473_872e2fde2eb0321a6b65ccc8769002ef4112ec08.jpg.webp" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Australia helicopter collision: Pilot did not recall hearing radio call - report</h5>
      <p class="card-text">A helicopter pilot said he did not hear a vital radio call shortly before a deadly mid-air collision in Australia, according to an interim report </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    <a href="https://www.bbc.com/news/world-australia-64870697" class="btn btn-primary">Read more</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/C842/production/_128866215_gettyimages-1234553080.jpg.webp" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">WhatsApp: Rather be blocked in UK than weaken security</h5>
      <p class="card-text">WhatsApp says it would rather be blocked in the UK than undermine its encrypted-messaging system, if required to do so under the Online Safety Bill</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    <a href="https://www.bbc.com/news/technology-64863448" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>
	<script
	src="http://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<!-- Footer -->
<footer class="bg-light text-center ">
  <!-- Grid container -->
  <div class="container p-4">


    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->


    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        NewsToday is a reputable news company dedicated to providing timely and accurate news to its audience. With a team of experienced journalists, NewsToday covers a wide range of topics, from politics and business to entertainment and sports. Stay informed with NewsToday's up-to-date news coverage.
      </p>

    <!-- Section: Links -->
    <section style="text-align: center " class="wizz">
      <!--Grid row-->
      <div style="text-align: center" class="row">
        <!--Grid column-->
        <div style="text-align: center" class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 style="text-align: center" class="text-uppercase"></h5>

          <ul style="text-align: center" class="list-unstyled mb-0">
            <li>
              <a style="text-align: center, padding:30px"  href="#!" class="text-dark">contacts</a>
            </li>
            <li>
              <a style="text-align: center, padding:30px" href="#!" class="text-dark">About</a>
            </li>
            <li>
              <a style="text-align: center, padding:30px" href="#!" class="text-dark">Home</a>
            </li>
            <li>
              <a style="text-align: center, padding:30px"href="#!" class="text-dark">Comments</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">NewsToday.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</html>

